:root {
  // Colours
  --black: #212121;
  --charcoal: #463b32;
  --gray: #a9a9a9;
  --light-gray: #f0f0f0;
  --medium-gray: #636363;
  --off-white: #fcf2da;
  --white: #f8f6f1;
  --mustard: #f8b253;
  --olive: #5f6f52;
  --olive-nav: #56644a;
  --sage: #a9b388;
  --sand: #b99470;
  --terracotta: #783d19;
  --orange: #c4661f;
  --yellow: #f9ebc7;

  // Spacing
  --pad-xxs: 0.5rem;
  --pad-xs: 1rem;
  --pad-sm: 2rem;
  --pad-md: 5rem;
  --pad-xl: 10rem;

  // Transitions
  --ease-in: 0.5s ease-in;
}
body {
  background-color: var(--white);
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  min-height: 100vh;
  text-align: center;
}
// Typography
.dark-text {
  color: var(--charcoal);
  font-weight: lighter;
  text-align: center;
  font-weight: bolder !important;
}
h1 {
  font-size: 4rem;
  @extend .dark-text;
}
h2 {
  font-size: 2rem;
  @extend .dark-text;
}
h3 {
  font-size: 1.7rem;
  @extend .dark-text;
}
p {
  color: var(--light-gray);
  font-size: 1.1rem;
  line-height: 1.5rem;
  .dark-text {
    font-weight: 500;
  }
}
a {
  color: var(--light-gray);
  text-decoration: none;
}
.script {
  font-family: "La Belle Aurore", "Satisfy", cursive;
  color: var(--yellow);
  z-index: 1;
  position: relative;
}
// Header
header {
  overflow-x: hidden;
  max-width: 100vw;
}
.nav {
  height: 4.5rem;
  background-color: var(--olive-nav);
  ul {
    font-size: 1.3rem;
    list-style: none;
    max-width: 100vw;
    position: absolute;
    top: 4.5rem;
    visibility: collapse;
    z-index: 3;
    li {
      background-color: var(--olive-nav);
      border-bottom: 1px solid var(--yellow);
      padding: var(--pad-xs) 0;
      &:first-child:hover {
        cursor: pointer;
        opacity: 0.85;
        transition: var(--ease-in);
      }
      a:hover {
        color: var(--yellow);
        transition: var(--ease-in);
        &:not(:hover) {
          transition: var(--ease-in);
        }
      }
      img {
        height: 2em;
        margin: 0 auto;
        &:hover {
          opacity: 0.6;
          transition: var(--ease-in);
        }
        &:not(:hover) {
          transition: var(--ease-in);
        }
      }
    }
  }
  #nav-check:checked ~ .nav ul li,
  #nav-check:checked ~ ul {
    visibility: visible;
  }
  // Hamburger Menu for Mobile
  .hamburger {
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
    width: 3rem;
  }
  #nav-check {
    @extend .hamburger;
    opacity: 0;
  }
  label {
    @extend .hamburger;
    span {
      border-top: 3px solid var(--white);
      display: block;
      height: 0.75rem;
    }
  }
}
// Main Containers
.full-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  z-index: 1;
  position: relative;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--pad-sm);
  p {
    margin: var(--pad-xs) auto;
  }
}
.container {
  padding: 0 var(--pad-xs);
}
.row {
  @extend .full-container;
  .col {
    @extend .card-container;
    align-content: start;
    background-color: var(--sage);
    margin: var(--pad-xs);
    .price-token {
      border-radius: 100%;
      margin: 0 auto;
      max-height: 16rem;
      max-width: 16rem;
      overflow: hidden;
      position: relative;
      h3 {
        color: var(--yellow);
        display: none;
      }
      &:hover {
        background: var(--terracotta);
        transition: 0.2s ease-in;
        z-index: 1;
        h3 {
          display: block;
          position: absolute;
          top: 33%;
          transition: var(--ease-in);
          z-index: 2;
        }
        img {
          opacity: 0;
          transition: var(--ease-in);
        }
      }
      &:not(:hover) {
        transition: var(--ease-in);
        h3,
        img {
          transition: var(--ease-in);
        }
      }
    }
    p {
      color: var(--charcoal);
    }
    h3 {
      margin-top: var(--pad-sm);
      width: 100%;
    }
    // &:last-child, &:nth-child(2) {margin-top: var(--pad-xs);}
  }
  .wide-col {
    @extend .card-container;
    background-color: var(--olive);
    flex-direction: column;
    margin-bottom: var(--pad-xs);
    width: 64rem;
    h2 {
      color: var(--yellow);
    }
  }
}
.block-left {
  background-color: var(--olive);
  padding: var(--pad-xs) 0;
  width: 40%;
  h1 {
    font-size: 1.7rem;
    color: var(--yellow);
    margin-top: var(--pad-md);
    padding: var(--pad-xs) 0;
  }
  img {
    border-radius: 100%;
    max-width: 70%;
    margin: var(--pad-sm) auto;
    padding: var(--pad-xs);
  }
  p {
    max-width: 20rem;
    margin: 0 auto;
    padding: var(--pad-xs) 0;
  }
}
.block-right {
  width: 60%;
  padding: var(--pad-xs) 0;
  background-color: var(--white);
  position: relative;
  p {
    padding: var(--pad-xs);
    line-height: 1.5rem;
    text-align: left;
    color: var(--charcoal);
    max-width: 40rem;
    &:first-child {
      margin-bottom: var(--pad-sm);
    }
  }
}
// Components
.banner {
  background-image: url(../img/banner-xl-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  min-height: 33vh;
  padding: var(--pad-xs) var(--pad-xs) var(--pad-xxs) var(--pad-xs);
  overflow-y: hidden;
  .banner-content {
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 95vw;
    .line {
      margin-top: 0.2rem;
      background-color: var(--mustard);
      height: 2px;
      display: block;
    }
    h1 {
      font-family: "Berkshire Swash", cursive;
      line-height: 3.5rem;
      color: var(--off-white);
    }
    img {
      max-width: 75%;
      display: none;
    }
    p {
      font-size: 1rem;
    }
  }
}
//Wave generated with https://www.shapedivider.app/
.block-left .custom-shape {
  margin-top: -1rem;
  transform: scaleY(-1);
  svg {
    height: 2rem;
    left: 0;
    width: 51vw;
    position: absolute;
    transform: rotateY(180deg);
    path {
      fill: var(--olive);
    }
  }
}
.block-right .custom-shape {
  position: absolute;
  margin-top: -2.4rem;
  width: 100%;
  overflow-x: hidden;
  svg {
    left: -70%;
    position: relative;
    width: 110vw;
    height: 2rem;
    transform: rotateY(-180deg);
    path {
      fill: var(--white);
    }
  }
}
.text-banner {
  @extend .full-container;
  flex-direction: column;
  background-color: var(--off-white);
  padding: var(--pad-sm);
  p {
    color: var(--white);
    font-weight: 500;
    max-width: 80rem;
    margin: 0 auto var(--pad-xs) auto;
  }
  button {
    max-width: 20rem;
    margin: 0 auto;
  }
}
.header-banner {
  max-width: 15rem;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
  background-color: var(--sand) !important;
  border: 2px solid var(--sand);
  display: none !important;
  img {
    border-radius: 100%;
  }
  p {
    color: var(--white) !important;
  }
  &:first-child {
    background-color: var(--terracotta) !important;
    border: 2px solid var(--terracotta);
  }
  &:last-child {
    background-color: var(--orange) !important;
    border: 2px solid var(--orange);
  }
  &:hover {
    border: 2px solid var(--yellow);
    transition: var(--ease-in);
    button {
      transition: var(--ease-in);
      background-color: var(--sand);
      border: 2px solid var(--yellow);
      color: var(--yellow);
    }
  }
  &:not(:hover) {
    transition: var(--ease-in);
  }
}
.tile {
  margin: var(--pad-xxs) var(--pad-xxs);
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  img {
    max-height: 20rem;
    min-width: 15rem;
    max-width: none;
  }
}
button {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: var(--terracotta);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: var(--pad-xxs) var(--pad-xs);
  width: 100%;
  &:hover {
    background-color: var(--terracotta);
    border: 2px solid var(--yellow);
    color: var(--yellow);
    cursor: pointer;
    transition: var(--ease-in);
  }
  &:not(:hover) {
    transition: var(--ease-in);
  }
}
.button-hollow {
  border: 2px solid var(--yellow);
  background-color: var(--sage);
  color: var(--white);
}
input[type="radio"] {
  display: none;
}
.input-shared {
  background-color: var(--white);
  border: none;
  color: var(--olive);
  height: 40px;
  padding: var(--pad-xxs) var(--pad-xs);
  width: 100%;
  outline: none;
}
.modal {
  height: 100vh;
  margin: 0 auto;
  margin-top: -30rem; //order matters here
  margin-left: -1.6rem;
  max-width: 100vw;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 97%;
  z-index: 1;
  .success-banner {
    display: none;
  }
  form {
    background-color: var(--sage);
    margin: 0 auto;
    max-width: 50rem;
    overflow: hidden;
    padding: var(--pad-xs) var(--pad-sm);
    button {
      background-color: var(--orange);
      color: var(--yellow);
      margin: var(--pad-xxs) auto;
      &:hover {
        background-color: var(--yellow);
        color: var(--orange);
      }
      &:not(:hover) {
        transition: var(--ease-in);
      }
    }
    p {
      font-weight: normal !important;
      color: var(--white);
      margin-top: var(--pad-xxs);
      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: var(--ease-in);
      }
      &:not(:hover) {
        transition: var(--ease-in);
      }
    }
    .form-field {
      display: block;
      font-size: 1rem;
      margin: var(--pad-xs) 0;
      label {
        color: var(--olive);
        display: block;
        text-align: left;
      }
      .file-upload {
        text-align: center;
        border: 2px solid var(--off-white);
        color: var(--white);
        padding: var(--pad-xxs);
        &:hover {
          cursor: pointer;
          opacity: 0.75;
          transition: var(--ease-in);
        }
        &:not(:hover) {
          transition: var(--ease-in);
        }
        i {
          font-size: 2rem;
        }
      }
      input,
      select,
      textarea {
        @extend .input-shared;
      }
      textarea {
        height: 6rem;
        line-height: 1.2rem;
      }
      input[type="file"] {
        display: none;
      }
      input[type="checkbox"] {
        height: 1rem;
        margin: var(--pad-xxs) var(--pad-xxs) var(--pad-xxs) 0;
        width: 1rem;
      }
      fieldset {
        background-color: var(--olive);
        border: none;
        color: var(--white);
        margin-bottom: var(--pad-xs);
        text-align: left;
      }
    }
  }
  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  &.thanks {
    form {
      display: none;
    }
    .success-banner {
      background-color: var(--sage);
      display: block;
      margin: 0 auto;
      margin-top: 10rem;
      max-width: 50rem;
      padding: var(--pad-sm) var(--pad-sm);
      i {
        font-size: 6rem;
        color: var(--white);
      }
      h2 {
        margin: var(--pad-sm) auto var(--pad-xs) auto;
      }
    }
  }
}
#modal:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--off-white);
  // backdrop-filter: blur(17rem) opacity;
  // transition: backdrop-filter 0.5s opacity;
  opacity: 0.95;
  position: fixed;
  z-index: -2;
}
footer {
  @extend .full-container;
  background-color: var(--charcoal);
  padding: var(--pad-xs);
}
// Keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Responsive Styling, Tablet
@media only screen and (min-width: 750px) {
  // Header changes from hamburger view to a horizontal list view
  .nav {
    padding: var(--pad-xs) 0 var(--pad-xs) 0;
    position: fixed;
    width: 100vw;
    z-index: 2;
    // border-bottom: 2px solid var(--sage);
    label {
      display: none;
    }
    ul {
      padding-left: var(--pad-xs);
      top: var(--pad-xs);
      visibility: visible;
      li {
        background-color: var(--olive-nav);
        border: none;
        float: left;
        padding: 0;
        padding-right: var(--pad-xs);
        margin-right: var(--pad-xs);
        width: auto;
        &:first-child {
          padding: 0;
          margin-right: var(--pad-sm);
        }
        &:nth-child(2),
        &:nth-child(3) {
          border-right: 2px solid var(--sage);
        }
        a {
          vertical-align: middle;
        }
      }
    }
  }
  .col {
    width: 30%;
    margin: var(--pad-sm) var(--pad-xxs) !important;
    padding: var(--pad-xs) !important;
  }
  .clickable {
    display: block !important;
    max-width: 20rem !important;
  }
  .banner {
    padding: var(--pad-md) var(--pad-xs) var(--pad-md) var(--pad-xs);
    .banner-content {
      h1 {
        margin-top: 4rem;
      }
      img {
        max-width: 15rem;
        height: auto;
        display: block;
      }
    }
  }
  .block-left {
    padding: var(--pad-md) 0;
    width: 35%;
    h1 {
      font-size: 4rem;
      padding: 0 var(--pad-sm);
      margin-top: 4rem;
    }
    p,
    img {
      padding: 0 var(--pad-xs);
    }
    .custom-shape {
      margin-top: -5rem;
    }
  }
  .block-right {
    width: 65%;
    .custom-shape {
      margin-top: -2.9rem;
      svg {
        width: 175vw;
        height: 2.2rem;
      }
    }
    p {
      padding: 0 var(--pad-sm);
      &:first-child {
        padding-top: var(--pad-sm);
      }
    }
  }
  .info-card {
    max-width: 35rem;
    span:first-child {
      margin: 0 auto;
    }
  }
  .tile {
    width: 32%;
  }
  .portfolio .project-details .info label {
    p {
      opacity: 1 !important;
    }
    &:hover {
      cursor: pointer;
      p {
        opacity: 0.5;
        transition: var(--ease-in);
      }
    }
    &:not(:hover) {
      transition: var(--ease-in);
    }
  }
  form {
    width: 80%;
    .form-field {
      &:nth-child(2),
      &:nth-child(3) {
        float: left;
        margin-top: 0 !important;
        width: 48.5%;
        input {
          padding-right: var(--pad-xxs);
        }
      }
      &:nth-child(2) {
        margin-right: var(--pad-xs);
      }
    }
  }
}
// Responsive Styling, Desktop
@media only screen and (min-width: 1024px) {
  .banner {
    height: 75vh;
  }
  .info-card {
    max-width: 70rem;
    span:first-child {
      max-width: 30%;
    }
    span:last-child {
      width: 68%;
      h3,
      p {
        padding: 0 var(--pad-sm);
        text-align: left;
      }
    }
  }
  .col {
    max-width: 20rem;
  }
  .hobby p {
    margin-left: var(--pad-md);
  }
  .primary {
    max-width: 23rem;
  }
  .project-details {
    padding: var(--pad-xs) var(--pad-md);
  }
  .tile {
    width: 15rem;
  }
  form {
    width: 100%;
  }
}
